<section class="mt-5">
  <table class="table table-zebra table-pin-cols table-pin-rows">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>🇺🇸</td>
        <td>🇺🇸</td>
  </table>
  <div class="flex flex-row gap-2 mt-2">
    <button class="btn btn-primary">Anterior</button>
    <button class="btn btn-primary">Siguiente</button>
  </div>
</section>
