<section class="mt-5">
  <table class="table table-zebra table-pin-cols table-pin-rows">
    <thead>
      <tr>
        <th>#</th>
        <th>Ícono</th>
        <th>Bandera</th>
        <th>Nombre</th>
        <th>Capital</th>
        <th>Población</th>
        <th>Ver</th>
      </tr>
    </thead>
    <tbody>
      @for (country of countries(); track country.cca2; let index = $index) {
      <tr>
        <td>{{ index + 1 }}</td>
        <td>{{ country.flag }}</td>
        <td>
          <img [src]="country.flagSvg" [alt]="country.name" class="w-10" />
        </td>
        <td>{{ country.name }}</td>
        <td>{{ country.capital }}</td>
        <td>{{ country.population }}</td>
        <td><a [routerLink]="['/country', country.cca2]">Ver</a></td>
      </tr>
      }
    </tbody>
  </table>
  <div class="flex flex-row gap-2 mt-2">
    <button class="btn btn-primary">Anterior</button>
    <button class="btn btn-primary">Siguiente</button>
  </div>
</section>
